body {
    padding-top: 0px;
    padding-bottom: 70px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


.table-responsive > .fixed-column {
    position: absolute;
    display: inline-block;
    width: auto;
    border-right: 1px solid #ddd;
}

.results-table {
    background-color: #303030;
}

.results {
    margin-left: 0;
    padding-left: 0;
}

.throws {
    margin-right: 0;
    padding-right: 0;
    width: 90px;
}

@media(min-width:768px) {
    .table-responsive > .fixed-column {
        display: none;
    }
}

.throw-label {
    font-weight: bold;
   
}

.no-right-border {
     border-right: 0;
}
