<div class="well">
    <form class="form-horizontal">
        <fieldset>
            <legend>Search Athlete Records</legend>
            <div class="form-group">
                @*<label for="Name" class="col-lg-2 control-label">Athlete Name</label>*@
                <div class="col-lg-10">
                    <input type="text" class="form-control" id="Name" name="Name" placeholder="Athlete Name" autocomplete="off" data-provide="typeahead">
                </div>
            </div>
            <div class="form-group">
                @*<div class="col-lg-10 col-lg-offset-2">*@
                <div class="col-lg-10">
                    <button class="btn btn-default">Clear</button>
                    <button type="submit" class="btn btn-primary">Search</button>
                </div>
            </div>
        </fieldset>
    </form>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/search")
}